body{
    width: 300px;
    height:170px;
    background-color: rgb(11, 25, 25);
    display: flex;
    justify-content: center;
}
p{
    display: inner-flex;
    margin: auto 10px;
    font-size: 20px;
    color: yellowgreen;
    border-radius: 15px 0 15px 15px;
    border: 2px solid white;
    padding: 10px;

}